* {
    margin: 0;
    padding: 0;
}

.banner-container {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    background-color: #14273e;
}

.bannerLogo {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    width: 50px;
}

.account-buttons {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.generic-button {
    text-decoration: none;
    list-style-type: none;
    margin-right: 25px;
}

.login-button {
    color:whitesmoke;
    text-decoration: none;
    list-style-type: none;
    padding: auto;
    align-items: center;
    border-radius: 30px;
    width: 115px;
    text-align: center;
    padding: 9px;
}

.sign-up-button {
    color:whitesmoke;
    text-decoration: none;
    text-decoration: none;
    list-style-type: none;
    padding: auto;
    align-items: center;
    border-radius: 30px;
    width: 115px;
    text-align: center;
    padding: 9px;
    background-color: #2d588d;
}

.login-button:hover {
    color: #fcd34d;
    background-color: #808080;
    border-width: 2px;
    transition-duration: 0.5s;
}

.sign-up-button:hover {
    color: #fcd34d;
    background-color: #808080;
    transition-duration: 0.5s;
}

.login-button.active , .navbar-sign-up.active, .navbar-sign-up-list.active {
    color: #fcd34d;
}