.signup-container {
    margin-top: 50px;
    margin-bottom: 175px;
}

.signup-header {
    color: whitesmoke;
}

.signup-body {
    width: auto;
    height: auto;
    align-items: center;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(#14273e , #1f3a5c);
    align-self: center;
    justify-content: center;
    padding-bottom: 35px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.signup-username-input {
    color: whitesmoke;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #2d588d;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    background: rgba(245, 245, 245, 0.0);
    width: 275px;
    text-align: left;
}

.signup-email-input {
    color: whitesmoke;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #2d588d;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    background: rgba(245, 245, 245, 0.0);
    width: 275px;
    text-align: left;
}

.signup-password-input {
    color: whitesmoke;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #2d588d;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    background: rgba(245, 245, 245, 0.0);
    width: 275px;
    text-align: left;
}

.Create {
    margin: 10px;
    background-color:#2d588d;
    color: white;
    padding: 10px;
    border: none;
    border: 3px solid;
    border-color: #2d588d;
    border-radius: 45px !important;
    width: 275px;
    font-size: 15px;
}

.Create:hover {
    color: #fcd34d;
    background-color: #808080 !important;
    border: 3px solid;
    border-color: #808080;
    transition-duration: 0.5s;
    cursor: pointer;
}