.intro-container {
    background-image: linear-gradient(#14273e , #1f3a5c);
    padding-bottom: 15px;
    border-radius: 15px;
}

.intro {
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.intro-mobile {
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.intro-body {
    margin: 25px;
    max-width: 700px;
    color: whitesmoke;
    text-align: left;
    font-size: 48px;
    text-align: center;
}

.intro-body-mobile {
    margin: 25px;
    max-width: 700px;
    color: whitesmoke;
    text-align: left;
    font-size: 18px;
    text-align: center;
}

.intro-sign-up {
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}

.intro-sign-up-button {
    color:whitesmoke;
    text-decoration: none;
    text-decoration: none;
    list-style-type: none;
    padding: auto;
    align-items: center;
    border-radius: 30px;
    width: 215px;
    text-align: center;
    padding: 9px;
    background-color: #2d588d;
}

.intro-sign-up-button:hover {
    color: #fcd34d;
    background-color: #808080;
    transition-duration: 0.5s;
}