.tickets-container {
    width: auto;
    height: auto;
    min-height: 500px;
    align-items: center;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(#14273e , #1f3a5c);
    align-self: center;
    justify-content: center;
    padding-bottom: 35px;
    border-radius: 15px;
}

.tickets-text-center {
    color: whitesmoke;
    text-align: center;
}

.tickets-body-content {
    margin-left: 50px;
    margin-right: 50px;
    margin: auto;
    max-width: 1080px;
    justify-content: center;
    align-items: center;
}

.get-tickets {
    min-height: 250px;
}

.station-map-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.station-map {
    width: 425px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.dates-title-container {
    display: flex;
    width: 100%;
}

.start-date-title, .end-date-title {
    width: 50%;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}

.dates-container {
    display: flex;
    width: 100%;
}

.dates-separator-left {
    margin-right: 2.5%;
}

.dates-separator-right {
    margin-left: 2.5%;
}

.find-button-container {
    padding: 10px;
}

.find-button {
    margin: 10px;
    background-color:#2d588d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: #2d588d;
    border-width: 3px;
    width: 275px;
    font-size: 15px;
}

.find-button:hover {
    background-color: #14273e;
}