* {
    margin: 0;
    padding: 0;
}

.banner-container-mobile {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Comfortaa', cursive;
    font-size: large;
    background-color: #14273e;
    height: 10%;
}

.bannerLogo-mobile {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.logo {
    max-width: 50%;
}