.pay-header {
    color: whitesmoke;
    margin-left: 15px;
    margin-right: 15px;
}

.pay-form {
    max-width: 1000px;
    margin-left: 15px;
    margin-right: 15px;
}

.pay-body {
    width: auto;
    height: auto;
    align-items: center;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(#14273e , #1f3a5c);
    align-self: center;
    justify-content: center;
    padding-bottom: 35px;
    border-radius: 15px;
    margin-bottom: 100px;
    min-height: 450px;
}

.paypal-button-container {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    justify-content: center;
    width: 400px;
    height: 250px;
}

.paypal-text {
    margin: 10px;
    background-color:#2d588d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: #2d588d;
    border-width: 3px;
    width: 275px;
    font-size: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: inline-block;
}

.paypal-text:hover {
    background-color: #14273e;
}

.receipt-page-button-container {
    margin-top: 15px;
}

.receipt-page-button {
    margin: 10px;
    background-color:#2d588d;
    color: white;
    padding: 10px;
    border: 3px solid;
    border-color: #2d588d;
    border-radius: 45px;
    width: 275px;
    font-size: 15px;
}

.receipt-page-button:hover {
    color: #fcd34d;
    background-color: #808080 !important;
    border: 3px solid;
    border-color: #808080;
    transition-duration: 0.5s;
    cursor: pointer;
}