* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.background {
  text-align: center;
  background-image: url(./Components/Materials/entrack_background.png);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}



.content-box {
  text-align: center;
  align-items: center;
  display: flex, inline-block;
  width: 1000px;
  height: 600px;
  background: #14273e;
  margin-left: 585px;
  margin-top: 10%;
  border-radius: 15px;
  border-color: #fcd34d;
  color: #fff;
  padding: 25px;
  margin: auto;
  margin-top: 50px;
  opacity: 85%;
}

.Container-navItems {
  padding: 10px;
}

.navItem {
  font-family: 'Franklin Gothic Small', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 40px;
  color: #ffffff;
}
