.login-header {
    color: #2d588d;
}

.login-body {
    width: auto;
    height: auto;
    align-items: center;
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(#14273e , #1f3a5c);
    font-family: 'Comfortaa', cursive;
    align-self: center;
    justify-content: center;
    padding-bottom: 35px;
    border-radius: 15px;
}

.username-input {
    color: whitesmoke;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #2d588d;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    background: rgba(245, 245, 245, 0.0);
    width: 275px;
    text-align: left;
}

.password-input {
    color: whitesmoke;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #2d588d;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    background: rgba(245, 245, 245, 0.0);
    width: 275px;
    text-align: left;
    /*-webkit-text-security: disc;*/
}

.Submit {
    margin: 10px;
    background-color:#2d588d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: #2d588d;
    border-width: 3px;
    width: 275px;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
}

.Submit:hover {
    background-color: #14273e;
}

.divider {
    text-align: center;
    justify-content: center;
    display: flex;
    height: 30px;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    color: #2d588d;
    padding-top: 5px;
}

.or-divider {
    width: 115px;
    height: 2px;
    background-color: #2d588d;
    margin: 10px;
}

.Sign-Up {
    margin: 10px;
    background-color:#2d588d;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: #2d588d;
    border-width: 3px;
    width: 275px;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
}

.Sign-Up:hover {
    background-color: #14273e;
}