.rewards-container {
    margin-left: 10px;
    margin-right: 10px;
}

.rewards-text-center {
    color: #2d588d;
    text-align: center;
}

.rewards-body-content {
    margin-left: 50px;
    margin-right: 50px;
    margin: auto;
    max-width: 1080px;
    justify-content: center;
    align-items: center;
}

.rewards-paragraph {
    margin-top: 25px;
}