.rewards-container {
    width: auto;
    height: auto;
    min-height: 500px;
    align-items: center;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(#14273e , #1f3a5c);
    align-self: center;
    justify-content: center;
    padding-bottom: 35px;
    border-radius: 15px;
}

.rewards-text-center {
    color: whitesmoke;
    text-align: center;
}

.rewards-body-content {
    margin-left: 50px;
    margin-right: 50px;
    margin: auto;
    max-width: 1080px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.rewards-paragraph {
    margin-top: 25px;
}