.schedule-container {
    width: auto;
    height: auto;
    min-height: 400px;
    align-items: center;
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(#14273e , #1f3a5c);
    font-family: 'Comfortaa', cursive;
    align-self: center;
    justify-content: center;
    padding-bottom: 35px;
    border-radius: 15px;
}

.schedule-text-center {
    color: #2d588d;
    text-align: center;
}

.schedule-body-content {
    margin-left: 50px;
    margin-right: 50px;
    margin: auto;
    max-width: 1080px;
    justify-content: center;
    align-items: center;
}

.schedule-paragraph {
    margin-top: 25px;
}