.home-container {
    min-height: 800px;
    height: auto;
}

.home-body {
    min-height: 500px;
}

.home-body-mobile {
    min-height: 500px;
}

.home-header {
    margin-top: 100px;
    color: #fcd34d;
    font-size: 90px;
    text-align: center;
    margin-bottom: 25px;
}

.home-header-mobile {
    color: #fcd34d;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
    
}