.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14273e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: auto;
}

.navItems {
    color:whitesmoke;
    text-decoration: none;
    
}

.nav-link {
    color:whitesmoke;
    text-decoration: none;
    margin-left: 50px;
}

.nav-link:hover {
    color: #fcd34d;
}

.nav-link.active {
    color: #fcd34d;
}